/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*{
    transition-duration: 0.5s;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.presenter {
    transition-duration: 0.9s;
    right: -100%;
    position: fixed !important;
    padding: 30px;
    top: 15vh;
    min-width: 19vw;
    min-height: 40vh;
    background-color: white;
    z-index: 10000000;
    border-radius: 30px;
    -webkit-box-shadow: 4px 6px 14px -4px #000000;
    box-shadow: 4px 6px 14px -4px #000000;
}

#preview_panel {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}
.left-scroll {
    list-style: none;
    height: 67vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.img-click {
    cursor: pointer;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

.img-click:hover {
    transform: scale(1.21);
}
canvas {
    height: 80vh !important;
    cursor: pointer;
    width: auto !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.logo.is-animetion {
    margin-top: 0.6em;
}

    .logo.is-animetion span {
        display: inline-block;
        animation: wave-text 1s ease-in-out infinite;
    }

.logo.is-animetion {
    span: nth-of-type(1)

{
    animation-delay: 0.0s;
}

span:nth-of-type(2) {
    animation-delay: 0.1s;
}

span:nth-of-type(3) {
    animation-delay: 0.2s;
}

span:nth-of-type(4) {
    animation-delay: 0.3s;
}

span:nth-of-type(5) {
    animation-delay: 0.4s;
}

}

@keyframes wave-text {
    00% {
        transform: translateY(0em);
    }

    60% {
        transform: translateY(-0.6em);
    }

    100% {
        transform: translateY(0em);
    }
}

