@{
    ViewData["Title"] = "Home Page";
}

<div class="presenter">

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <img class="img-thumbnail img-click" onclick="main()" src="~/3d_object/blue_fish/bluefish_avatar.jpg" />
        </div>
        <canvas class="col-9" id="preview_panel"></canvas>
    </div>
</div>
<script>
    

</script>